.doc_bottom
    .bottom.bc
        .wrapper
            ul.one
                li
                    .th
                        a 关于我们
                    div
                        a(href='javascript:;', title='新闻') 新闻
                    div
                        a(href='javascript:;') 关于我们
                    div
                        a(href='javascript:;') 检测报告
                li
                    .th
                        a 购买渠道
                    div
                        a(href="javascript:;") 苏宁商城
                    div
                        a(href="javascript:;") 淘宝商城
                    div
                        a(href='javascript:;') 购买配件
                li
                    .th
                        a 服务支持
                    div
                        a(href='installation') 配送安装
                    div
                        a(href='service') 售后政策
                    div
                        a(href='dowm') APP下载
                li
                    .th
                        a(target='_blank') 关注我们
                    .weixin
                        a(href='javascript:;') 官方微信
                        img(src='/public/images/erweima.jpg' width='150', height='150')
                    div
                        a(href=href="#") 官方微博
            ul.three.fr.tr
                li.th
                    a(href='') 联系我们
                li 周一至周五 
                li 9:00-18:00 
                li.lh80
                    img(src='/public/images/tel.jpg')
    .wrapper.tc.bc
        p.copyright
            | © 2005-2017 MR.FUTURE未来先生 版权所有，并保留所有权利。 ©2016 Future Wisdom technology Co., Ltd. All rights reserved. 
            br
            | 蜀ICP备16005743号-1
block script
    script.
        $('.bottom').css('border-top', '0')
